html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #d8e9ef;
    background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%);
    background-size: cover;
}

h1 {
    margin: 0 auto 20px auto;
    color: #d8e9ef;
}

p {
    margin: 0;
}

.app-message {
    height: 20px;
    margin: 20px auto;
}

.app-container {
    width: 300px;
    height: 500px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.app-circle {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.circle-shape {
    pointer-events: none;
}

.semi-circle {
    position: absolute;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 6px;
}

.left-side {
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    z-index: 1;
}

.right-side {
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.circle {
    border-color: #bf5239;
}

.circle-mask {
    border-color: #e85a71;
}

.app-counter-box {
    font-family: 'Fira Sans', monospace;
    font-size: 250%;
    position: relative;
    top: 75px;
    color: #d8e9ef;
}

.btn-start-container {
    margin-top: 50px;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    background: none;
    outline: none;
    color: #d8e9ef;
    padding: 8px 15px;
}

button:hover {
    color: #90c0d1;
    transform: translateY(-3px);
}

.timer-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 40px 0;
}

#time-select {
    background: rgba(255, 255, 255, 0.1);
    color: #d8e9ef;
    border: 1px solid #e85a71;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
}

label[for="time-select"] {
    margin-top: 0;
}

#confirm-time-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #e85a71;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
}

#time-selection-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}